<div class="sport-show-container">
  <h1 class="sport-head"> <%= image_tag("#{@team.sport_name}.png", class: "sport-image")%>  <%= @team.sport_name%> - San Francisco sport accademy</h1>
  <div class="row">
    <div class="col-xs-6">
      <h3>Win/Loss ratio in last 12 months:</h3>
      <%= pie_chart @matches.group(:won).count %>
    </div>
    <!-- Line Chart - Single Series -->
    <div class="col-xs-6">
      <h3><%= @team.sport_name%>: Number of matches played</h3>
      <%= line_chart @matches.group_by_month(:date_of_match, format: "%B, %Y").count, discrete: true %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Opponent Name</th>
      <th>Win/Loss record</th>
      <th># of matches</th>
    </tr>
    <% @won_data.each do |data| %>
      <tr>
        <td><%= data['opponent'] %></td>
        <td><%= data['won'] %></td>
        <td><%= data['count'] %></td>
      </tr>
    <% end %>
  </table>
  <div class="know-player-container">
    <h3>Get to know your players</h3>
    <% @team.members.each do |member| %>
      <li><%= link_to member.first_name, "/member/#{member.id}" %></li>
    <% end %>
  </div>
</div>
