<!DOCTYPE html>
<html>
  <head>
    <title>SportsJunkie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer">
      <div class="footer-container">
        <p class="text-muted">US sports Accademy.</p>
        <p class="text-muted">Copyright @<%=Time.now.year%></p>
      </div>
    </footer>
  </body>
</html>
